# Dependências do Node.js
node_modules/

# Variáveis de ambiente (Segurança)
.env

# Arquivos de log
*.log
npm-debug.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de editores de código
.vscode/
.idea/
